<div class="card">
  <div class="card-header">
    Add New FAQ
  </div>
  <div class="card-block">
    <form (submit)="addQuestion()">
      <div class="form-group">
        <label for="text">Question Text</label>
        <input type="text"  [(ngModel)]="text" name="text">
      </div>
      <div class="form-group">
        <label for="text">Question Answer</label>
        <input type="text"  [(ngModel)]="answer" name="answer">
      </div>
      <input type="submit" class="btn btn-primary" value="Submit">
    </form>
  </div>
</div>
